html {
    background:#f2f2f2;
    min-height:100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}
body {
    font-family:"PTSans", "Arial", sans-serif;  
    font-size:21px;
    line-height:26px;
    background: #fff;
    color: #000;
    font-weight:bold; 
    text-transform: uppercase;
}
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
    display: inline-block;
    width: 1em;
    margin-right: 0.2em;
    margin-left: 0.2em;
    font-weight: normal;
    line-height: 1em;
    font-family: "symbols-sedona";
    text-align: center;
    text-transform: none;
    text-decoration: inherit;
    font-style: normal;
    font-variant: normal;
    speak: none;
}
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; font-size: 26px; } /* "☐" */
.icon-check-on::before { content: "\2611"; font-size: 26px; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

.social-btn:hover  {
    background: #669ec0
}
.block {
    margin: auto;
    display:flex;
    flex-direction: column;
    flex:auto;
    max-width: 1200px;
    min-width: 768px;
    box-shadow: 0 0 25px #dbdbdb;
}
    
.main-header {
    width: 100%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background: #fff;
    color: #000;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    height: 56px;
    background: #fff;
}
 .menu div {
    font-size: 14px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center; 
}
a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    line-height: 26px;
    margin-left: auto;
    margin-right: auto;
}
a:hover {
    color: #81b3d2;
}
.logo {
    align-items: flex-start;
    align-self: center;
    text-decoration: none;   
    margin-left: -33px;
}
.logo img {
    background: url("img/index/logo.png");
    margin-top: 23px;
    z-index: 99;
    position: relative;
    top: auto;
}
main {
    width: 100%;
    max-width: 1200px;
    min-width: 768px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-shrink: 1;
    box-sizing: border-box;
    justify-content: center;
}
.back {
    background: url("../img/back.jpg") no-repeat;
    background-size: cover;
    width:100%;
    height:509px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
}   
.back img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 61px;
}
.back .top {
    margin-top: 10px;
}
.back .top::after {
    content::"";
    display: block;
    border-bottom: 2px solid #766357;
    position: absolute;
    top: -30px;
    width: 256px;
    z-index: 99;
}

.shape {
    width: 100%;
    height: 4.75%;
}
.content {
    width:100%;
    height: 217px;
    display: flex;
    flex-direction: column;
}
h2 {
    color:#000;
    font-size:21px;
    font-weight:bold;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
p {
    font-size: 14px;
    color: #858585;
    margin-left: auto;
    margin-right: auto;
}
.photo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
    height: 256px;
    box-sizing: content-box;
    flex-grow: 1;
    background-color: #81b3d2;
}
.photo-content-left {
    width: 33.34%;
    max-height: 256px;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-self: center;
    box-sizing: content-box;
}
.photo-text {
    color: #fff;
    margin-top: 55px;
    margin-bottom: 0px;
    text-align: center;
}
.nomber {
    margin-bottom: 0px;
    color: #fff;
    text-align: center;
}
.nomber::after {
    content: '';
    position: relative;
    display: block;
    border-bottom: 2px solid #fff;
    width: 9px;
    top: -14px;
    left: -15px;
}
.nomber::before {
    content: '';
    position: relative;
    display: block;
    border-bottom: 2px solid #fff;
    width: 9px;
    top: 14px;
    right: -30px;
}
.photo-text-p {
    color: #fff;
    text-align: center;
    margin-bottom: 55px;
}
.photo-photos-left {
    width:66.66%;
    height: 256px;
    display: flex;
    flex-direction: column;
}
.photo-photos-left img,
.photo-photos-right img {
    margin-top: 0;
}
.photo-content-right {
    width: 33.34%;
    max-height: 256px;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-self: center;
    box-sizing: content-box;
}
.photo-photos-right {
    width: 66.66%;
    height: 256px;
}
.icons {
   display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 330px;
    box-sizing: content-box;
}
.icons-item {
    width: 33.3%;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}
.icons-item img {
    margin-top: 60px;
}
.icons-item b {
    margin-top: 30px;
}
.icons-item p {
   text-align: center;
    margin-bottom: 86px;
    margin-top: 30px;
}
.description {
    display: flex;
    justify-content: center;
    background-color: #eee;
    width: 100%;
    height: 255px;
}
.description-text {
    width: 33.34%;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    box-sizing: content-box;
}
.description-text b {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}
.numbers {
    text-align: center;
    margin-bottom: 0px;
}
.description-content {
    text-align: center;
    margin-bottom: 65px;
}
.numbers::after {
    content: '';
    display: block;
    border-bottom: 2px solid #979797;
    position: relative;
    width: 9px;
    top: -14px;
    left: -15px;
}
.numbers::before {
    content: '';
    position: relative;
    display: block;
    border-bottom: 2px solid #979797;
    width: 9px;
    top: 14px;
    right: -30px;
}
.interest {
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column;
}

.interest h2 {
    font-size: 30px;
    color: #000;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}
.interest p {
    font-size: 14px;
    text-align: center;
    color: #333;
}

.interest .interest-search {
    display: block;
    color: #fff;
    font-size: 21px;
    text-decoration: none;
    background-color: #766357;
    width: 568px;
    height: 86px;
    text-align: center;
    padding-top: 35px;
}
.map {
    background: url("../img/index/map.jpg") no-repeat;
    width: 100%;
    height: 593px;
}
.main-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background: #f9fbf6;
    width: 100%;
    height: 120px;
    max-width: 1200px;
    min-width: 768px;
    margin:auto;
    box-sizing: border-box;
}
.footer-contacts p {
    color: #000;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    margin-left: 46px;
}
.footer-social {
    text-align: center;
}
.social-btn  {
    display: inline-flex;
    color: #fff;
    background: #81b3d2 url("../img/sprite/icons.png") no-repeat center;
    width: 44px;
    height: 44px;
    text-align: center;
}
.social-btn:hover {
     background: #669ec0 url("../img/sprite/icons.png") no-repeat center;
}
.footer-copyright {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer-copyright p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px; 
    margin-left: 40px;
}
.footer-copyright img {
    margin-right: 5px;   
}
.sprite {
    background-image: url(../img/sprite/icons.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-calendar {
    width: 21px;
    height: 22px;
    background-position: -8px -8px;
}

.sprite-fb-icons {
    background-position: -28px 6px; 
}
.sprite-fb-icons:hover {
    background-position: -28px 6px;
/*    color: #fff;*/
}
.sprite-t-icons {

    background-position: -57px 8px;
}
.sprite-t-icons:hover {
     background-position: -57px 8px;
}
.sprite-you-icons {
   
    background-position: -59px -24px;
}
.sprite-you-icons:hover {
     background-position: -59px -24px;
}
h1 {
    font-family:"Myriad Pro";
    line-height:26px;
    color:#000;
    font-size:21px;
    text-transform:uppercase;
}
.search {
    width: 568px;
    height: 398px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
    background: #fff;
    position: absolute;
    left: calc(50% - 284px);
     animation-name:search; 
animation-duration:1.5s;
animation-timing-function:ease-out;
animation-fill-mode:forwards;  

  }
@keyframes search {
    from {transform: translate(0px, -1000px);}
}
.search-show {
    display: flex;
    height: 396px;
}
.search-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 287px;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sprite-calendar {
    background-image: url("../img/sprite/icons.png");
    background-repeat: no-repeat;
    background-color: #c2c2c2;
    width: 21px;
    height: 22px;
    background-position: 320px 0px;
}
.sprite-calendar:hover { 
    background-color: #000;
} /*я тупая и до меня не доходит как надо делать*/
.search label,
.select label {
    font-size: 14px;
    line-height: 26px;
    font-family: "PTSans", "Arial", sans-serif;
    color: #000;
    text-transform: uppercase;
    margin-right: 10px;
}
.search input[type="text"] {
    width: 345px;
    height: 38px;
    border: none;
    background-color: #f2f2f2;
    padding-left: 15px;
}

.search input:hover {
    background-color: #ebebeb;
}
.search input:active {
    background: #fff;
    border: 1px solid #e5e5e5;
}
.search input:focus {
    background: #fff;
    border: 1px solid #e5e5e5;
}
.block-select {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 508px;
    margin-left: 3px;
}
.select {
    display: flex;
    justify-content: center;
}
.select input[type="text"] {
    width: 38px;
    height: 36px;
    background-color: #f2f2f2;
    border: none;
    text-align: center;
    padding-left: 0px;
}
.select a {
    display: block;
    color: #a9a9a9;
    background: #f2f2f2;
    width: 38px;
    height: 29px;
    font-family: "icomoon";
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    padding-top: 9px;
}
.icon-minus:hover,
.icon-plus:hover {
    color: #000;
}
.select a:focus {
    color: #81b3d2;
}
/*
.search-btn {
    margin-top: 55px;
}
*/
.search-btn .btn {
    width: 465px;
    height: 60px;
    color: #fff;
    background: #81b3d2;
    border: none;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}
.search-btn .btn:hover {
    background: #669ec0;
}
.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 230px;
    background: #fff url("../img/filter.jpg") no-repeat;
}
.check {
    width: 20%;
    height: 157px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;  
    margin-top: 28px;
    margin-left: -53px;
    margin-right: 23px;
}

.icon-check-on {
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #fff;
}
.icon-check-off {
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #fff;
}
.check p {
    font-size: 16px;
    line-height: 21px;
      color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 25px;
}
.check label {
    margin-left: 43px;
}
.check input,
.type input {
    display: none;
}
.type {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 157px;
    margin-top: 30px;
    margin-left: -127px;
}
.type p {
    margin-left: 5px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 21px;
      color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
}
.filter-range {
    width: 318px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "PT Sans", "Arial", sans-serif;
    margin-left: 217px;
}
.filter-range p {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
}
.price-controls {
    display: flex;
    flex-wrap: wrap;
    height: 36px;
    margin-bottom: 20px;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 0;
    position: relative;
}
.price-controls::after {
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #fff;
    transform: translate(-50%, -50%);
}
.price-controls label {
    display: inline-flex;
    flex-wrap: nowrap;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    color: #fff;
    cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
    width: 60px;
    padding-left: 65px;
}
.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    outline: none;
}
.range-controls {
    position: relative;
    margin-bottom: 32px;
}
.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #fff;
}
.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #fff;
    border-radius: 50%;
    box-shadow: 2 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
.range-toggle-min {
    left:0;
}
.range-toggle-max {
    left: 80%
}
.range-toggle:hover {
    background: #1c4f80;
}
.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}
.btn-transparent:hover {
    color: #000;
    background: #fff;
}

.found {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 75px;
}
.found-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 588px;
    min-width: 525px;
    height: 30px;
}
.found h2 {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-left: 64px;
    margin-right: 9px;
}
.found p {
    font-size: 12px;
    line-height: 18px;
    color: #878787;
    text-transform: uppercase;
    margin-right: 38px;
    font-weight: normal;
}
.found .active {
    color: #81b3d2;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    margin-left: -8px;
}
.found .sort {
    border-bottom: 1px dotted #81b3d2;
    text-decoration: none;
    color: #d1d1d1;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    margin-left: 27px;
}
.sort:hover {
    color: #9ac2db;
}
.arrows {
    display: flex;
    font-size: 23px;
/*    width: 5%;*/
    margin-left: 490px;
}
.arrow .icon-up-dir {
/*    margin-left: 385px;*/
    color: #ccc;
}
.icon-down-dir {
    color: #ccc;
}
.icon-up-dir:hover,
.icon-down-dir:hover {
    color: #000;
}
.hotels {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 454px;
}
.amara {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 153px;
    width: 100%;
    border-top: 1px solid #e5e5e5;
}
.amara:nth-child(3) {
    border-bottom: 1px solid #e5e5e5;  
}
.amara .prev {
    margin-left: 71px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 93px;
}
.prev h2 {
    margin-top: -94px;
    margin-left: 165px;
    margin-bottom: -11px;
}
.spa {
    margin-left: 165px;
}
/*
.spa span {
    padding-left: 40px;
}
*/
.prev a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background: #81b3d2;
    width: 110px;
    height: 28px;
    text-align: center;
    cursor: default;
    margin-left: 165px;
}
/*
.resort h2 {
    margin: -5px -15px -15px -85px;
}
*/
.prev h2:hover {
    color: #81b3d2;
    cursor: pointer;
}
/*
.resort .spa {
    margin-left: 30px;
    margin-bottom: 10px;
}
*/
.spa span {
    padding-left: 30px;
}
/*
.resort .details {
    margin-left: 30px;
}
*/
.prev .reserve {
    background: #766357;
    width: 142px;
    margin-left: 282px;
    margin-top: -26px;
}
.stars {
    margin-left: -5px;
    width: 15%;
    height: 93px;
}
.star {
    margin-left: 17px;
    margin-bottom: 40px;
    margin-top: 0px;
    display: block;
}
.rating {
    display: block;
    color: #8b8b8b;
    background: #f2f2f2;
    width: 110px;
    height: 28px;
    text-align: center;
    margin-left: -1px;
}
.details:hover {
    background: #669ec0;
}
.reserve:hover {
    background: #604e43;
}