html {
    background:#f2f2f2;
    min-height:100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}
body {
    font-family:"PTSans", "Arial", sans-serif;  
    font-size:21px;
    line-height:26px;
   background: #fff;
    color: #000;
    font-weight:bold; 
    text-transform: uppercase;
}
.block {
    margin: auto;
    display:flex;
    flex-direction: column;
    flex:auto;
    max-width: 1200px;
    min-width: 768px;
}
    
.main-header {
    width: 100%;
   
    margin:auto;

    display: flex;
    flex-wrap: wrap;

    box-sizing: border-box;
    background: #fff;
   color: #000;
}
.menu {
     display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    
   width: 100%;
    height: 56px;
     background: #fff;
    
   
    
}
 .menu div {
    font-size: 14px;
    text-decoration: none;
    display: flex;
     flex-direction: row;
    justify-content: center;
    align-items:center;
   width: 
}
.menu a {
    width: 150px; 
}
a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    line-height: 26px;
    margin-left: auto;
    margin-right: auto;
}
a:hover {
    color: #81b3d2;
}
.logo {
    align-items: flex-start;
    align-self: center;
}
.logo img {
    background: url("img/index/logo.png");
    z-index: 98;
}
main {
    width: 100%;
    max-width: 1200px;
    min-width: 768px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-shrink: 1;
    box-sizing: border-box;
    justify-content: center;
}
.back {
    background: url("../img/back.jpg") no-repeat;
    background-size: cover;
    width:100%;
    height:509px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}   
.back img {
    margin-left: auto;
  margin-right: auto;
    margin-top: 60px;
}
.back .top {
    margin-top: 10px;
}
.back .top::after {
    content::"";
    display: block;
    border-bottom: 2px solid #766357;
    position: absolute;
    top: -30px;
   
    width: 256px;
    z-index: 99;
}

.shape {
  
  width: 100%;
  height: 4.75%;
  
}

.content {
    width:100%;
    height: 217px;
    display: flex;
    flex-direction: column;
    
    
}
h2 {
    color:#000;
    font-size:21px;
    font-weight:bold;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
p {
    font-size: 14px;
    color: #858585;
    margin-left: auto;
    margin-right: auto;
}
.photo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
    height: 256px;
    box-sizing: content-box;
    flex-grow: 1;
  
    
}
.photo-content-left {
    width: 33.34%;
    max-height: 256px;
    background-color: #81b3d2;
    display: flex;
    flex-direction: column;   
    justify-content: center;
  align-self: center;
    box-sizing: content-box;
}
.photo-text {
    color: #fff;
  
    margin-top: 55px;
    margin-bottom: 0px;
    text-align: center;
   
}
.nomber {
    margin-top: 30px;
    color: #fff;
    text-align: center;
}
.nomber::after {
    content: '';
    position: relative;
    display: block;
    border-bottom: 2px solid #fff;
    width: 9px;
    top: -14px;
    left: -15px;
}
.nomber::before {
    content: '';
    position: relative;
    display: block;
    border-bottom: 2px solid #fff;
    width: 9px;
    top: 14px;
    right: -30px;
}


.photo-text-p {
    margin-top: 30px;
    color: #fff;
    text-align: center;
    margin-bottom: 55px;
}
.photo-photos-left {
    width:66.66%;
    height: 256px;

    display: flex;
    flex-direction: column;
    
}

.photo-content-right {
    width: 33.34%;
    max-height: 256px;
    background-color: #81b3d2;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-self: center;

    box-sizing: content-box;
}
.photo-photos-right {
    width: 66.66%;
    height: 256px;
}
.icons {
    display: flex;
}
.icons-item {
    width: 33.3%;
    height: 330px;
   display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}
.icons-item p {
   text-align: center;
}
.description {
    display: flex;
    justify-content: center;
    background-color: #eee;
}
.description-text {
    width: 100%;
    height: 260px;
   
   display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
}
.description-text b {
    text-align: center;
}
.description-text p {
    text-align: center;
}
.numbers::after {
    content: '';
    display: block;
    border-bottom: 2px solid #979797;
    position: relative;
     width: 9px;
    top: -14px;
    left: -15px;
}
.numbers::before {
    content: '';
    position: relative;
    display: block;
    border-bottom: 2px solid #979797;
    width: 9px;
    top: 14px;
    right: -30px;
}


.interest {
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
    align-items: stretch; 
}
.interest h2 {
    font-size: 30px;
    color: #000;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}
.interest p {
    font-size: 14px;
    text-align: center;
    color: #333;
}

.interest .interest-search {
    display: block;
    color: #fff;
    font-size: 21px;
    text-decoration: none;
    background-color: #766357;
    width: 568px;
    height: 86px;
    text-align: center;
    padding-top: 35px;
}
.map {
    background: url("../img/index/map.jpg") no-repeat;
    width: 100%;
    height: 593px;
}
.main-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background: #f9fbf6;
    width: 100%;
    height: 120px;
    max-width: 1200px;
    min-width: 768px;
    margin:auto;
    box-sizing: border-box;
}
.footer-contacts p {
    color: #000;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}
.footer-copyright p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px; 
}
.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-fb-icons {
    width: 46px;
    height: 48px;
    background-position: -5px -5px;
}

.sprite-t-icons {
    width: 46px;
    height: 48px;
    background-position: -5px -63px;
}

.sprite-you-icons {
    width: 46px;
    height: 48px;
    background-position: -5px -121px;
}

h1 {
    font-family:"Myriad Pro";
    line-height:26px;
    color:#000;
    font-size:21px;
    text-transform:uppercase;
}
.search {
    width: 568px;
    height: 419px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
/* display: none;*/
    background: #fff;
    position: absolute;
    left: calc(50% - 284px);
  }
.search-block {
  display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 465px;
    height: 287px;
    margin-left: auto;
    margin-right: auto;
}
.search label,
.select label {
    font-size: 14px;
    line-height: 26px;
    font-family: "PTSans", "Arial", sans-serif;
    color: #000;
    text-transform: uppercase;
}
.search input[type="text"] {
    width: 345px;
    height: 40px;
}
.select {
    display: flex;
    justify-content: center;
}
.select input[type="text"] {
    width: 38px;
    height: 36px;
    background-color: #f2f2f2;
    border: none;
}
.select a {
    display: block;
    color: #a9a9a9;
    background: #f2f2f2;
    width: 38px;
    height: 29px;
    font-family: "icomoon";
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    padding-top: 9px;
}
.search .btn {
    width: 465px;
    height: 60px;
    color: #fff;
    background: #81b3d2;
    border: none;
    font-size: 21px;
    line-height: 26px;
}
.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 210px;
    background: #fff url("../img/filter.jpg") no-repeat;
}
.check {
    width: 313px;
    height: 217px;
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 488px;
    height: 217px;
   
}
.cost {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 400px;
    height: 217px;
     
}
.found {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   flex-wrap: wrap;
    width: 100%;
}

.amara {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  align-content: flex-start;
    height: 153px;
    width: 100%;
   border-top: 1px solid #e5e5e5;
}
.amara:nth-child(3) {
   border-bottom: 1px solid #e5e5e5;  
}
.amara img {
    margin-left: 30px;
}
.resort {
  display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
   align-content: space-around;
    flex-wrap: nowrap;
    flex-basis: 360px;
    margin: 30px;
    max-height: 90px;
    max-width: 360px;
}

}
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}
    
