html {
    background:#f2f2f2;
    min-height:100%;
     
    display: -webkit-flex;
    display: flex;
    flex-direction: column;

}
body {
    margin:0;
    padding:0 40px;
    display:flex;
    flex-direction: column;
    flex:auto;
    font-family:"PTSans Bold", sans-serif;  
    font-size:21px;
    line-height:26px;
    color:#000;
    font-weight:bold; 
    border:1px solid #000;
}
.main-header {
    width: 100%;
    max-width: 1200px;
    min-width: 768px;
    margin:0;
    padding: 22px 0 24px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    background: #fff;
    border:1px solid #000;
}
.menu {
     display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
   width: 1056px;
    height: 56px;
     background: #fff;
    border:1px solid #f01828;
    margin: 0 73px 0 73px;
    
}
div .menu  {
    font-size: 14px;
    
    text-decoration: none;
/*    margin: 5px 0 0 5px;*/
    display: flex;
    justify-content: center;
    align-items:center;
    flex-shrink: 1;
}
a {
    text-decoration: none;
    color: #000;
}

/*/

    .logo {
	font-size: 0;
	margin: -10px 10px 10px 0;
	display: flex;
	flex: none;
	align-items: center;
}

*/
main {
    width: 100%;
    max-width: 1200px;
    min-width: 768px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-shrink: 1;
    box-sizing: border-box;
    justify-content: center;
    border:1px solid #000;
}
.back {
    background: url("C:/Users/User/Documents/GitHub/114289-sedona/img/back.jpg") no-repeat;
    width:100%;
    height:509px;
    border: 1px solid #000;
}
.content {
    width:100%;
    height: 217px;
    border: 1px solid #000;
}
h2 {
    font-family:"PTSans Bold";
    line-height:26px;
    color:#000;
    font-size:21px;
    font-feight:bold;
}
.photo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    height: 256px;
    box-sizing: content-box;
    border: 1px solid #000;
}
.photo-content {
    width: 400px;
/*    flex-shrink:1;*/
    height: 256px;
    background-color: #81b3d2;
    border: 1px solid #000;
}
.icons {
    display: flex;
}
.icons-item {
    width: 400px;
    height: 332px;
    border-right:1px solid aqua;
}
.description {
    display: flex;
     border-bottom: 1px solid #000;
}
.description-text {
    width: 400px;
    height: 260px;
     border-right:1px solid aqua;
  
}
.search {
    width: 576px;
    height: 480px;
    display: flex;
    border: 1px solid #000;
    flex-wrap: wrap;
    align-content: center;
}
.map {
    background: url("C:/Users/User/Documents/GitHub/114289-sedona/img/map.jpg") no-repeat;
    width: 100%;
    height: 475px;
}
.main-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background: #f9fbf6;
    width: 100%;
    height: 120px;
    max-width: 1200px;
    min-width: 768px;
    margin:auto;
    box-sizing: border-box;
    border:1px solid #000;
}
.footer-contacts {
    width: 400px;
    border: 1px solid #000;
}
.footer-social {
    width: 488px;
    border: 1px solid #000;
}
.footer-copyright {
    width: 313px;
    border: 1px solid #000;
}


h1 {
    font-family:"Myriad Pro Regular";
    line-height:26px;
    color:#000;
    font-size:14px;
    text-transform:uppercase;
}
